# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

!core/
*.*#
*.a
*.app
*.autosave
*.core
*.debug
*.embed.manifest
*.moc
*.o
*.obj
*.orig
*.prl
*.qm
*.rc
*.rej
*.res
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*_wrapper.bat
*_wrapper.sh
*~
*.exe
*.out
*.user
*.pro
*.pro.user

qt_create_source/
Debug/

.idea
cmake-build-debug/
